.background {
    background-color: grey;
    display: flex;    
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.app-workspace-background {
    background-color: white;
    min-width: 25%;
    max-width: 75%;    
    border-radius: 30px;
        
}